<!DOCTYPE html>
<html lang="en">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
    <meta charset="UTF-8">
    
    <title>Redagavimas</title>
</head>
<body>
<h2 class="p-3 mb-2 bg-success text-white">Redaguoti pirkinį</h2>
    <form action="#" th:action="@{/updatepurchase/{id}(id=${purchase.id})}" th:object="${purchase}" method="post">
         <label class="form-label" for="name">Produktas</label>
        <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="Produktas">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        <label class="form-label" for="price">Kaina(eur)</label>
        <input class="form-control" type="text" th:field="*{price}" id="price" placeholder="Kaina(pvz.: 1.5)">
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        <input type="submit" value="Patvirtinti">   
    </form>
</body>
</html>